@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
   background: #232323;
}
nav{
  background: #000000;
  height:90px;
  width: 100%;

}
label.logo{
  background: #000000;
  color: #fff;
  font-size: 33px;
  line-height: 80px;
  padding: 0 140px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;

}
nav ul{
  float: right;
  margin-right: 60px;
    background: #000000;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
background: #000000;
}
nav ul li a{
  color: #f2f2f2;
  background: #000000;
    font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  /* text-transform: uppercase; */
  font-family: 'Source Sans Pro', sans-serif;
}
a.active,a:hover{
  background: #fff;
  color: #000;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
background: #000000;
}
#check{
  display: none;
    background: #000000;
}
@media (max-width: 952px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
      background: #000000;
  }
  nav ul li a{
    font-size: 16px;
      background: #000000;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    margin-right: 40px;
      background: #000000;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
      background: #000000;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: #fff;
    color: #000;
  }
  /* check:checked ~ ul{
    left: 0;
    background: #000000;
  } */
}

img.logos{
  background-color:#000;
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */

.content {
  display: inline-block;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

footer{
  margin: auto;
  color: #fff;
  background-color:#000;
  bottom: 0px;
  width: 100%;
  height: 15%;
  position: fixed;
  text-align: center;
}
.section {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;

}
.button1 {
  z-index: 1;
  margin-right: 50%;
  margin-left: 48%;

}
a.button{
  background-color: black;
  font-size: 16px;
  color: white;
  border: 4px solid #000000;
  padding: 10px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  border-color: black;

}
.video-cn{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}	

.projects-body {	
  margin: 0;	
  font-size: 16px;	
  outline: none;	
  align-items: center;	
  font-family: 'Source Sans Pro', sans-serif;	
}	
.custom-box{	
  max-width: 700px;	
  align-items: center;	
  background-color: rgb(119, 119, 119);	
  margin: auto;	
  padding: 30px;	
  border-radius: 20px;   	
}	
.custom-box.hide{	
  display:none	
}	
.home-box h3{	
  font-size: 18px;	
  color: white;	
  font-weight: 500;	
  margin-bottom: 15px;	
  line-height:25px ;	
  background-color:rgb(119, 119, 119) ;	
}	
.home-box p{	
  font-size: 16px;	
  margin-bottom: 10px;	
  line-height: 22px;	
  color:white;	
  font-weight:400 ;	
  background-color: rgb(119, 119, 119);	
}	
.home-box p span {	
  font-weight: 500;	
  color: white;	
  background-color:  rgb(119, 119, 119) ;	
}	
.btn{	
  padding: 15px 45px;	
  background-color: rgba(0, 0, 0, 0.253);	
  color: white;	
  border: none;	
  border-radius: 9px;	
  font-size: 16px;	
  cursor: pointer;	
  display: inline-block;	
}	
.home-box .btn {	
  margin-top: 20px;	
}	
.quiz-box .question-number{	
  font-size: 18px;	
  color: white;	
  font-weight: 600;	
  border-bottom: 2px solid #232323 ;	
  background-color: rgb(119, 119, 119) ;	
  padding-bottom: 10px;	
  line-height: 25px;	
}	
.quiz-box .question-text{	
  font-size: 22px;	
  color: #f1f1f1;	
  line-height: 28px;	
  font-weight: 400;	
  padding: 10px 0;	
  margin:0;	
  background-color: rgb(119, 119, 119);	
  	
}	
.quiz-box .option-container{	
  background-color:rgb(119, 119, 119) ;	
}	
.quiz-box .option-container .option{	
  background-color: rgb(36, 36, 36) ;	
  border-radius: 5px ;	
  margin-bottom: 10px;	
  font-size: 16px;	
  line-height: 22px;	
  color: white;	
  cursor: pointer;	
  padding:9.5px 5px;	
  text-transform: capitalize;	
  animation: fadeIn 0.3s ease forwards ;	
  opacity: 0;	
  position: relative;	
  overflow: hidden;	
}	
@keyframes fadeIn{	
  0%{	
    opacity: 0;	
  }	
  100%{	
    opacity: 1;	
  }	
}	
.quiz-box .option-container .option.correct ::before{	
  content:'';	
  position: absolute;	
  left: 0;	
  top: 0;	
  height: 100%;	
  width: 100%;	
  background-color: black;	
  z-index: -1;	
  animation: slideInLeft .5s ease forwards;	
}	
@keyframes slideInLeft{	
  0%{	
    transform: translateX(-100%);	
  }	
  100%{	
    transform: translateX(0%);	
  }	
}	
.quiz-box .option-container .option.correct::after{	
  color: white;	
}	
.quiz-box .option-container .option.wrong ::before{	
  content:'';	
  position: absolute;	
  left: 0;	
  top: 0;	
  height: 100%;	
  width: 100%;	
  background-color: black;	
  z-index: -1;	
  animation: slideInLeft .5s ease forwards;	
}	
.quiz-box .option-container .option.correct ::after{	
  content:'';	
  position: absolute;	
  left: 0;	
  top: 0;	
  height: 100%;	
  width: 100%;	
  background-color: black;	
  z-index: -1;	
  animation: slideInLeft .5s ease forwards;	
}	
.quiz-box .btn{	
  margin: 15px 0;	
  background-color: rgb(17, 17, 17);	
}	
.quiz-box .next-question-btn{	
  background-color: rgb(119, 119, 119);	
  	
}	
.quiz-box .answers-indicator div{	
  height: 40px;	
  width: 40px;	
  display: inline-block;	
  background-color: thistle;	
  border-radius: 50%;	
  margin-right: 3px;	
  margin-top: 10px;	
}	
.quiz-box .answers-indicator{	
  background-color:rgb(119, 119, 119) ;	
  border-top: 2px solid #232323;	
  	
}

.container {
  padding: 16px;
  color: white;
}

.input {
  padding: 12px 20px;
  padding-left: 12px;
  margin: 8px;
  border: none;
  background-color: white;
}

button {
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
}